{% extends "layout.html" %}

{% block title %}DreamEscapeEnjoy | Home{% endblock title %}

{% block content %}

<h2>Welcome to DreamEscapeEnjoy</h2>
<br>
<h5>🛫🏰Your gateway to heaven on earth: Discover, Escape, Explore🏖🛬</h5>

<br>
<!-- <img class="image" width="800" height="400" src="{{ url_for('static', filename='images/Paradise.jpeg') }}"> -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/exI_hD_4jAM?si=GLOG5xqY94jz7Ro9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock content %}
